*{
  margin : 0;
  padding: 0;
  border:0;
  box-sizing: border-box;
}

html{
  background-color: #000000;
}

/* header design */

header{
  font-size:.85rem;
  min-height: 7.12em;
  color:white;

}


.nav-mobile{

}


header .aside{
  background-color: rgb(27,27,29);
  min-height: 5.65em;
  display: flex;
  justify-content: center;
  
}

header .aside-content{
  max-width:64em;
  padding:.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aside .content{
  max-width: 26.81em;
}

nav{
  background-color:rgb(22,22,23,.8);

}